<form
    [formGroup]="resetForm"
    (ngSubmit)="resetPassword()"
    class="flex flex-col w-full max-w-sm mx-auto p-4 lg:my-12 border border-gray-200 bg-white shadow"
>
    <div class="mb-8">
        <h2 class="text-center text-xl leading-9 text-gray-900">Reset your password</h2>
        <p class="mt-2 text-center text-sm leading-5 text-gray-600">
            You cannot log in until you change your password.
        </p>
    </div>

    <div class="flex flex-col mb-4">
        <label for="name" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"> Password </label>

        <div class="relative">
            <div class="absolute flex border border-transparent left-0 top-0 h-full w-10">
                <div
                    class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-gray-600 text-lg h-full w-full"
                >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M6 8C4.34315 8 3 9.34315 3 11V13C3 14.6569 4.34315 16 6 16C7.65685 16 9 14.6569 9 13H15V15H17V13H18V15H20V11H9C9 9.34315 7.65685 8 6 8ZM7 13V11C7 10.4477 6.55228 10 6 10C5.44772 10 5 10.4477 5 11V13C5 13.5523 5.44772 14 6 14C6.55228 14 7 13.5523 7 13Z"
                            fill="currentColor"
                        />
                    </svg>
                </div>
            </div>

            <input
                formControlName="password"
                type="password"
                placeholder="New password"
                class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pr-2 pl-12"
            />
        </div>
    </div>

    <div class="flex flex-col mb-4">
        <div class="relative">
            <div class="absolute flex border border-transparent left-0 top-0 h-full w-10">
                <div
                    class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-gray-600 text-lg h-full w-full"
                >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M6 8C4.34315 8 3 9.34315 3 11V13C3 14.6569 4.34315 16 6 16C7.65685 16 9 14.6569 9 13H15V15H17V13H18V15H20V11H9C9 9.34315 7.65685 8 6 8ZM7 13V11C7 10.4477 6.55228 10 6 10C5.44772 10 5 10.4477 5 11V13C5 13.5523 5.44772 14 6 14C6.55228 14 7 13.5523 7 13Z"
                            fill="currentColor"
                        />
                    </svg>
                </div>
            </div>

            <input
                formControlName="passwordConfirm"
                type="password"
                placeholder="New password again"
                class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pr-2 pl-12"
            />
        </div>
    </div>

    <div class="mt-4">
        <button
            type="submit"
            class="w-full flex justify-center py-3 px-4 border border-transparent leading-5 font-medium rounded text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green active:bg-green-700 transition duration-150 ease-in-out"
        >
            Save password
        </button>
    </div>
</form>
