<div class="flex items-center justify-between">
    <div>
        <h2 class="text-[22px] leading-tight font-bold tracking-tight text-gray-900">
            {{ title() }}
        </h2>
        <p class="text-base leading-normal font-normal text-gray-500">
            Total Balance: ${{ totalBalance() }}
        </p>
    </div>
    @if (routePath()) {
        <button
            [routerLink]="routePath()"
            hlmBtn variant="ghost"
            class=""
        >
            <span class="material-symbols-outlined text-base">add</span>
            Add Account
        </button>
    }
</div>
