<div class="h-screen flex items-center justify-center">
    <div class="container mx-auto">
        <h1 class="text-green-500 font-bold text-4xl">Home Page Works!</h1>
        <p>
            If you can see this message then project initialized successfully. Now change the prefix in tslint.json and
            angular.json files to your desired project prefix.
        </p>
        <p>
            This project uses tailwind css by default. If you don't need then delete <code>tailwind.config.js</code> and
            remove tailwind imports from <code>styles.scss</code>.
        </p>

        <button nz-button nzType="primary">Primary Button</button>
    <button nz-button nzType="default">Default Button</button>
    <button nz-button nzType="dashed">Dashed Button</button>
    <button nz-button nzType="text">Text Button</button>
    <a nz-button nzType="link">Link Button</a>
    </div>
</div>
