<div class="flex h-screen items-center justify-center">
    <div class="container mx-auto">
        <h1 class="text-4xl font-bold text-green-500">Home Page Works!</h1>
        <p>
            If you can see this message then project initialized successfully. Now change the prefix in tslint.json and
            angular.json files to your desired project prefix.
        </p>
        <p>
            This project uses tailwind css by default. If you don't need then delete <code>tailwind.config.js</code> and
            remove tailwind imports from <code>styles.scss</code>.
        </p>
    </div>
</div>
