<header class="navbar bg-primary elevation-2">
    <div class="flex-1 lg:flex-none">
        <div class="flex items-center gap-4">
            <button *ngIf="sidenavToggleVisible" mat-icon-button (click)="toggle()">
                <mat-icon class="text-white"> menu </mat-icon>
            </button>
            <div class="h-12 w-auto overflow-hidden">
                <div [routerLink]="['/']" id="logo" class="cursor-pointer bg-white p-2">
                    <img src="./../../../assets/logoipsum-282.svg" class="" />
                </div>
            </div>
            <h1 [routerLink]="['/']" class="cursor-pointer text-3xl font-bold text-primary-content">{{ appName }}</h1>
        </div>
    </div>

    <div class="flex flex-1 justify-end px-2">
        <div class="flex items-stretch">
            <div class="dropdown-end dropdown">
                <label tabindex="0" class="btn-ghost rounded-btn btn text-primary-content">Account</label>
                <ul tabindex="0" class="dropdown-content menu rounded-box mt-4 w-52 bg-base-100 p-2 shadow">
                    <li *ngIf="!auth.isLoggedIn"><a [routerLink]="['/login']">Login</a></li>
                    <li *ngIf="!auth.isLoggedIn"><a [routerLink]="['/register']">Register</a></li>
                    <li *ngIf="auth.isLoggedIn"><a [routerLink]="['/profile']">My Profile</a></li>
                    <li *ngIf="auth.isLoggedIn"><a (click)="auth.signOut()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- <app-navbar>
    <button *ngIf="sidenavToggleVisible" id="toggler" mat-icon-button (click)="toggle()">
        <mat-icon class="text-white"> menu </mat-icon>
    </button>

    <div [routerLink]="['/']" id="logo" class="cursor-pointer bg-white p-2">
        <img src="./../../../assets/logoipsum-282.svg" class="" />
    </div>

    <h1 [routerLink]="['/']" class="cursor-pointer text-3xl font-bold text-primary-content">{{ appName }}</h1>

    <div class="flex items-stretch">
        <a class="btn-ghost rounded-btn btn text-primary-content">Button</a>
        <div class="dropdown-end dropdown">
            <label tabindex="0" class="btn-ghost rounded-btn btn text-primary-content">Account</label>
            <ul tabindex="0" class="dropdown-content menu rounded-box mt-4 w-52 bg-base-100 p-2 shadow">
                <li *ngIf="!auth.isLoggedIn"><a [routerLink]="['/login']">Login</a></li>
                <li *ngIf="!auth.isLoggedIn"><a [routerLink]="['/register']">Register</a></li>
                <li *ngIf="auth.isLoggedIn"><a [routerLink]="['/profile']">My Profile</a></li>
                <li *ngIf="auth.isLoggedIn"><a (click)="auth.signOut()">Logout</a></li>
            </ul>
        </div>
    </div>
</app-navbar> -->
