<ng-container *ngIf="state$ | async as state">
    <article *ngIf="state.article as article" class="article">
        <h1>{{ article.title }}</h1>
        <p>{{ article.body }}</p>
    </article>

    <section class="comments">
        <div class="flex">
            <h1>Comments</h1>
            <div *ngIf="state.commentsPagination as pagination" class="pagination">
                View
                <a [routerLink]="['/articles', state.id]" [queryParams]="{ _limit: 2 }" class="link">2</a>
                <a [routerLink]="['/articles', state.id]" [queryParams]="{ _limit: 4 }" class="link">4</a>
                |
                <a
                    [routerLink]="['/articles', state.id]"
                    [queryParams]="{ _start: +pagination._start - +pagination._limit }"
                    class="link"
                    >Prev</a
                >
                <a
                    [routerLink]="['/articles', state.id]"
                    [queryParams]="{ _start: +pagination._start + +pagination._limit }"
                    class="link"
                    >Next</a
                >
            </div>
        </div>
        <div *ngFor="let comment of state.comments" class="comment">
            <h3>
                {{ comment.name }}
                <small> <{{ comment.email }}> </small>
            </h3>
            <p>{{ comment.body }}</p>
        </div>
    </section>
</ng-container>
