:host {
    display: block;
}

.navlinks {
    display: inline-flex;
}

.navlinks li {
    margin-right: 0;
    margin-left: -1px;

    &:first-child .navlink {
        border-top-left-radius: 0.35rem;
        border-bottom-left-radius: 0.35rem;
    }

    &:last-child .navlink {
        border-top-right-radius: 0.35rem;
        border-bottom-right-radius: 0.35rem;
    }
}

.navlink {
    margin-left: 0;
    border-width: 1px;
    border-color: rgb(209 213 219);
    background-color: white;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: rgb(107 114 128);

    &:hover {
        background-color: rgb(243 244 246);
        color: rgb(55 65 81);
    }

    &.active {
        background-color: rgb(220, 222, 226);
        color: rgb(55 65 81);
    }
}
