<section class="bg-gray-900 py-8 px-4 md:py-12 md:px-0">
    <div class="container mx-auto grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div>
            <h4 class="text-lg font-bold text-gray-100">ng-starter-no-semi-four-space</h4>
            <p class="md:text-md mt-6 text-sm leading-6 text-gray-300">
                Made by
                <a href="https://touhidrahman.me" class="text-red-500 hover:text-red-600">
                    <span class="font-semibold">Touhid Rahman</span></a
                >
            </p>
        </div>

        <div class="">
            <h4 class="text-lg font-bold text-gray-100">Navigation</h4>
            <div class="mt-6 flex text-gray-300">
                <div class="w-1/2 space-y-4">
                    <a href="" class="block hover:text-gray-100">Home</a>
                    <a href="" class="block hover:text-gray-100">Services</a>
                    <a href="" class="block hover:text-gray-100">Team</a>
                </div>
                <div class="w-1/2 space-y-4">
                    <a href="" class="block hover:text-gray-100">Career</a>
                    <a href="" class="block hover:text-gray-100">Privacy Policy</a>
                    <a href="" class="block hover:text-gray-100">News</a>
                </div>
            </div>
        </div>

        <div>
            <h4 class="text-lg font-bold text-gray-100">Follow Us</h4>
            <p class="mt-4 flex space-x-4 leading-6 text-gray-300">
                <a class="" href="">
                    <img
                        src="./../../../../../assets/icons/source_icons_facebook-squared.svg"
                        class="h-12 rounded bg-gray-400 p-2 shadow hover:bg-gray-100"
                    />
                </a>
                <a class="" href="">
                    <img
                        src="./../../../../../assets/icons/source_icons_instagram.svg"
                        class="h-12 rounded bg-gray-400 p-2 shadow hover:bg-gray-100"
                    />
                </a>
                <a class="" href="">
                    <img
                        src="./../../../../../assets/icons/source_icons_linkedin.svg"
                        class="h-12 rounded bg-gray-400 p-2 shadow hover:bg-gray-100"
                    />
                </a>
                <a class="" href="">
                    <img
                        src="./../../../../../assets/icons/source_icons_twitter.svg"
                        class="h-12 rounded bg-gray-400 p-2 shadow hover:bg-gray-100"
                    />
                </a>
                <a class="" href="">
                    <img
                        src="./../../../../../assets/icons/source_icons_youtube.svg"
                        class="h-12 rounded bg-gray-400 p-2 shadow hover:bg-gray-100"
                    />
                </a>
                <a class="" href="">
                    <img
                        src="./../../../../../assets/icons/source_icons_tiktok.svg"
                        class="h-12 rounded bg-gray-400 p-2 shadow hover:bg-gray-100"
                    />
                </a>
            </p>
        </div>
    </div>
</section>
