<div class="container mx-auto flex items-baseline justify-center md:justify-between">
    <a class="block" [routerLink]="['/']">
        <h1 class="text-2xl font-bold">ng-starter-no-semi-four-space</h1>
    </a>

    <div class="hidden md:block md:space-x-6">
        <a [routerLink]="['/link1']">Link1</a>
        <a [routerLink]="['/link2']">Link2</a>
        <a *ngIf="auth.isLoggedIn" [routerLink]="['/profile']">Profile</a>
        <a
            *ngIf="!auth.isLoggedIn"
            class="rounded bg-red-50 px-4 py-2 text-red-500 hover:bg-white"
            [routerLink]="['/login']"
            >Login</a
        >
    </div>
</div>
