<div class="my-auto flex flex-col justify-center px-8 pt-8 md:justify-start md:px-24 md:pt-20 lg:px-32">
    <p class="text-center text-3xl">Forgot Password</p>

    <section class="flex flex-col pt-3 md:pt-8">
        <div class="flex flex-col pb-4">
            <div class="relative flex">
                <span
                    class="inline-flex items-center border-b border-l border-t border-gray-300 bg-white px-3 text-sm text-gray-500 shadow-sm"
                >
                    <svg
                        width="15"
                        height="15"
                        fill="currentColor"
                        viewBox="0 0 1792 1792"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1792 710v794q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-794q44 49 101 87 362 246 497 345 57 42 92.5 65.5t94.5 48 110 24.5h2q51 0 110-24.5t94.5-48 92.5-65.5q170-123 498-345 57-39 100-87zm0-294q0 79-49 151t-122 123q-376 261-468 325-10 7-42.5 30.5t-54 38-52 32.5-57.5 27-50 9h-2q-23 0-50-9t-57.5-27-52-32.5-54-38-42.5-30.5q-91-64-262-182.5t-205-142.5q-62-42-117-115.5t-55-136.5q0-78 41.5-130t118.5-52h1472q65 0 112.5 47t47.5 113z"
                        ></path>
                    </svg>
                </span>
                <input
                    type="text"
                    [(ngModel)]="email"
                    class="w-full flex-1 appearance-none border border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600"
                    placeholder="Enter your Email"
                />
            </div>
        </div>

        <button
            (click)="submit()"
            class="w-full bg-black px-4 py-2 text-center text-base font-semibold text-white shadow-md transition duration-200 ease-in focus:outline-none focus:ring-2 hover:bg-white hover:text-black"
        >
            Submit
        </button>
    </section>

    <div class="pt-12 text-center text-xs text-gray-400">
        <a [routerLink]="['/']" class="font-semibold underline">Go to Home</a> |
        <a [routerLink]="['/login']" class="font-semibold underline">Login</a> |
        <a [routerLink]="['/register']" class="font-semibold underline">Signup</a>
    </div>
</div>
