// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// https://indepth.dev/tutorials/angular/angular-material-theming-system-complete-guide
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$my-primary-palette: (
    50: #e8edf0,
    100: #c6d1d9,
    200: #a0b3c0,
    300: #7a94a6,
    400: #5e7d93,
    500: #416680,
    600: #3b5e78,
    700: #32536d,
    800: #2a4963,
    900: #1c3850,
    A100: #90c8ff,
    A200: #5daeff,
    A400: #2a95ff,
    A700: #1188ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #ffffff,
    ),
);

$my-accent-palette: (
    50: #e7f7f4,
    100: #c3ece4,
    200: #9cdfd2,
    300: #74d2c0,
    400: #56c9b3,
    500: #38bfa5,
    600: #32b99d,
    700: #2bb193,
    800: #24a98a,
    900: #179b79,
    A100: #d0fff2,
    A200: #9dffe3,
    A400: #6affd5,
    A700: #51ffce,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$my-warn-palette: (
    50: #f9e0e0,
    100: #f0b3b3,
    200: #e68080,
    300: #db4d4d,
    400: #d42626,
    500: #cc0000,
    600: #c70000,
    700: #c00000,
    800: #b90000,
    900: #ad0000,
    A100: #ffd7d7,
    A200: #ffa4a4,
    A400: #ff7171,
    A700: #ff5858,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// https://github.com/angular/components/blob/main/src/material/core/theming/_palette.scss
$app-primary: mat.define-palette($my-primary-palette);
$app-accent: mat.define-palette($my-accent-palette);

// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette($my-warn-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat.define-light-theme(
    (
        color: (
            primary: $app-primary,
            accent: $app-accent,
            warn: $app-warn,
        ),
        density: -2,
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);
