<form
    [formGroup]="registerForm"
    (ngSubmit)="signUp()"
    class="flex flex-col w-full max-w-sm mx-auto p-4 lg:my-12 border border-gray-200 bg-white shadow"
>
    <div>
        <h2 class="mt-6 text-center text-xl leading-9 text-gray-900">Sign up for an account</h2>
        <p class="mt-2 text-center text-sm leading-5 text-gray-600">
            or if you already have one,
            <a
                href="#"
                class="font-medium text-green-600 hover:text-green-500 focus:outline-none focus:underline transition ease-in-out duration-150"
            >
                sign in
            </a>
        </p>
    </div>

    <div class="flex flex-col mb-4">
        <label for="name" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"> Name </label>

        <div class="w-full flex">
            <div class="relative w-1/2">
                <div class="absolute flex border border-transparent left-0 top-0 h-full w-10">
                    <div
                        class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-gray-600 text-lg h-full w-full"
                    >
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7ZM14 7C14 8.10457 13.1046 9 12 9C10.8954 9 10 8.10457 10 7C10 5.89543 10.8954 5 12 5C13.1046 5 14 5.89543 14 7Z"
                                fill="currentColor"
                            />
                            <path
                                d="M16 15C16 14.4477 15.5523 14 15 14H9C8.44772 14 8 14.4477 8 15V21H6V15C6 13.3431 7.34315 12 9 12H15C16.6569 12 18 13.3431 18 15V21H16V15Z"
                                fill="currentColor"
                            />
                        </svg>
                    </div>
                </div>

                <input
                    formControlName="firstName"
                    type="text"
                    placeholder="First name"
                    class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pr-2 pl-12"
                />
            </div>
            <div class="w-1/2 pl-4">
                <input
                    formControlName="lastName"
                    type="text"
                    placeholder="Last name"
                    class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 px-2"
                />
            </div>
        </div>
    </div>

    <div class="flex flex-col mb-4">
        <label for="name" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"> Email </label>

        <div class="relative">
            <div class="absolute flex border border-transparent left-0 top-0 h-full w-10">
                <div
                    class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-gray-600 text-lg h-full w-full"
                >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z"
                            fill="currentColor"
                        />
                    </svg>
                </div>
            </div>

            <input
                formControlName="email"
                type="text"
                placeholder="Email"
                class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pr-2 pl-12"
            />
        </div>

        <span
            *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched"
            class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
        >
            Invalid email field !
        </span>
    </div>

    <div class="flex flex-col mb-4">
        <label for="name" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"> Password </label>

        <div class="relative">
            <div class="absolute flex border border-transparent left-0 top-0 h-full w-10">
                <div
                    class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-gray-600 text-lg h-full w-full"
                >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M6 8C4.34315 8 3 9.34315 3 11V13C3 14.6569 4.34315 16 6 16C7.65685 16 9 14.6569 9 13H15V15H17V13H18V15H20V11H9C9 9.34315 7.65685 8 6 8ZM7 13V11C7 10.4477 6.55228 10 6 10C5.44772 10 5 10.4477 5 11V13C5 13.5523 5.44772 14 6 14C6.55228 14 7 13.5523 7 13Z"
                            fill="currentColor"
                        />
                    </svg>
                </div>
            </div>

            <input
                formControlName="password"
                type="password"
                placeholder="Password"
                class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pr-2 pl-12"
            />
        </div>
    </div>

    <div class="flex flex-col mb-4">
        <div class="relative">
            <div class="absolute flex border border-transparent left-0 top-0 h-full w-10">
                <div
                    class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-gray-600 text-lg h-full w-full"
                >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M6 8C4.34315 8 3 9.34315 3 11V13C3 14.6569 4.34315 16 6 16C7.65685 16 9 14.6569 9 13H15V15H17V13H18V15H20V11H9C9 9.34315 7.65685 8 6 8ZM7 13V11C7 10.4477 6.55228 10 6 10C5.44772 10 5 10.4477 5 11V13C5 13.5523 5.44772 14 6 14C6.55228 14 7 13.5523 7 13Z"
                            fill="currentColor"
                        />
                    </svg>
                </div>
            </div>

            <input
                formControlName="passwordConfirm"
                type="password"
                placeholder="Password confirm"
                class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pr-2 pl-12"
            />
        </div>
    </div>

    <div class="mt-6 flex items-center justify-between">
        <div class="flex items-center">
            <input
                id="remember_me"
                type="checkbox"
                class="form-checkbox h-4 w-4 text-green-600 transition duration-150 ease-in-out"
            />
            <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900">
                I accept the <a class="text-green-500" href="#">privacy policy</a>
            </label>
        </div>
    </div>

    <div class="mt-6">
        <button
            type="submit"
            class="w-full flex justify-center py-3 px-4 border border-transparent leading-5 font-medium rounded text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green active:bg-green-700 transition duration-150 ease-in-out"
        >
            Create account
        </button>
    </div>
</form>
