<app-header-one class="sticky top-0 z-50" (sidenavToggle)="sidenav.toggle()"></app-header-one>

<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'" [(opened)]="opened">
        <div class="space-y-2">
            <a href="#" class="btn-accent btn-block btn">Home</a>
            <a href="#" class="btn-accent btn-block btn">Profile</a>
            <a href="#" class="btn-accent btn-block btn">Settings</a>
            <button class="btn-block" mat-flat-button color="accent" [matMenuTriggerFor]="animals">Animal index</button>
            <mat-menu #animals="matMenu" xPosition="after">
                <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
                <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
            </mat-menu>

            <mat-menu #vertebrates="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
                <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
                <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
                <button mat-menu-item>Birds</button>
                <button mat-menu-item>Mammals</button>
            </mat-menu>

            <mat-menu #invertebrates="matMenu">
                <button mat-menu-item>Insects</button>
                <button mat-menu-item>Molluscs</button>
                <button mat-menu-item>Crustaceans</button>
                <button mat-menu-item>Corals</button>
                <button mat-menu-item>Arachnids</button>
                <button mat-menu-item>Velvet worms</button>
                <button mat-menu-item>Horseshoe crabs</button>
            </mat-menu>

            <mat-menu #fish="matMenu">
                <button mat-menu-item>Baikal oilfish</button>
                <button mat-menu-item>Bala shark</button>
                <button mat-menu-item>Ballan wrasse</button>
                <button mat-menu-item>Bamboo shark</button>
                <button mat-menu-item>Banded killifish</button>
            </mat-menu>

            <mat-menu #amphibians="matMenu">
                <button mat-menu-item>Sonoran desert toad</button>
                <button mat-menu-item>Western toad</button>
                <button mat-menu-item>Arroyo toad</button>
                <button mat-menu-item>Yosemite toad</button>
            </mat-menu>

            <mat-menu #reptiles="matMenu">
                <button mat-menu-item>Banded Day Gecko</button>
                <button mat-menu-item>Banded Gila Monster</button>
                <button mat-menu-item>Black Tree Monitor</button>
                <button mat-menu-item>Blue Spiny Lizard</button>
                <button mat-menu-item disabled>Velociraptor</button>
            </mat-menu>
        </div>

        <div class="absolute bottom-0 left-0 right-0 p-2">
            <a *ngIf="!auth.isLoggedIn" [routerLink]="['/login']" class="btn-ghost btn-block btn">
                <mat-icon class="mr-2">login</mat-icon>
                Login
            </a>
            <a *ngIf="auth.isLoggedIn" [routerLink]="['/logout']" class="btn-ghost btn-block btn">
                <mat-icon class="mr-2">logout</mat-icon>
                Logout
            </a>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <main class="block p-4 pb-12">
            <router-outlet></router-outlet>
        </main>
        <app-footer-copyright></app-footer-copyright>
    </mat-sidenav-content>
</mat-sidenav-container>
