:host {
    display: block;
}

mat-sidenav {
    position: relative;
    width: 280px;
    color: white;
    background-color: var(--my-primary);
    padding: 4.5rem 0.5rem 1rem 0.5rem;
    position: fixed;
    height: 100vh;
}

button[mat-menu-item] {
    min-width: 200px;
}
