<app-header-one class="sticky top-0 z-50" (sidenavToggle)="sidenav.toggle()"></app-header-one>

<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'" [(opened)]="opened">
        <div class="space-y-2">
            <app-dropdown-accent
                [matIconString]="'home'"
                [buttonLabel]="'Home'"
                [dropdownItems]="[
                    { label: 'Link 1', matIconString: 'star', routerLinkCommands: ['/'] },
                    { label: 'Link 2', matIconString: 'delete', routerLinkCommands: ['/'] },
                    { label: 'Link 3', matIconString: 'edit', routerLinkCommands: ['/'] }
                ]"
            ></app-dropdown-accent>

            <app-dropdown-accent
                [matIconString]="'dashboard'"
                [buttonLabel]="'Dashboard'"
                [dropdownItems]="[
                    { label: 'Link 1', matIconString: 'star', routerLinkCommands: ['/'] },
                    { label: 'Link 2', matIconString: 'delete', routerLinkCommands: ['/'] },
                    { label: 'Link 3', matIconString: 'edit', routerLinkCommands: ['/'] }
                ]"
            ></app-dropdown-accent>

            <app-dropdown-accent
                [matIconString]="'settings'"
                [buttonLabel]="'Settings'"
                [dropdownItems]="[
                    { label: 'Link 1', matIconString: 'delete', routerLinkCommands: ['/'] },
                    { label: 'Link 2', matIconString: 'star', routerLinkCommands: ['/'] },
                    { label: 'Link 3', matIconString: 'edit', routerLinkCommands: ['/'] }
                ]"
            ></app-dropdown-accent>
        </div>

        <div class="absolute bottom-0 left-0 right-0 p-2">
            <a *ngIf="!auth.isLoggedIn" [routerLink]="['/login']" class="btn-ghost btn-block btn">
                <mat-icon class="mr-2">login</mat-icon>
                Login
            </a>
            <a *ngIf="auth.isLoggedIn" [routerLink]="['/logout']" class="btn-ghost btn-block btn">
                <mat-icon class="mr-2">logout</mat-icon>
                Logout
            </a>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <main class="block p-4 pb-12">
            <router-outlet></router-outlet>
        </main>
        <app-footer-copyright></app-footer-copyright>
    </mat-sidenav-content>
</mat-sidenav-container>
