<nav aria-label="Page navigation">
    <ul class="navlinks">
        <li *ngIf="showFirstLastButton">
            <a
                [queryParams]="{ size: size, page: 1 }"
                [routerLink]="routerLinkBase"
                queryParamsHandling="merge"
                class="navlink"
            >
                First
            </a>
        </li>
        <li>
            <a
                [queryParams]="{ size: size, page: currentPage - 1 }"
                [routerLink]="routerLinkBase"
                queryParamsHandling="merge"
                class="navlink"
            >
                < Prev
            </a>
        </li>
        <li *ngFor="let page of getNavigablePages()">
            <a
                [queryParams]="{ size: size, page: page }"
                [routerLink]="routerLinkBase"
                queryParamsHandling="merge"
                [class.active]="page === currentPage"
                class="navlink"
            >
                {{ page }}
            </a>
        </li>
        <li>
            <a
                [queryParams]="{ size: size, page: currentPage + 1 }"
                [routerLink]="routerLinkBase"
                queryParamsHandling="merge"
                class="navlink"
            >
                Next >
            </a>
        </li>
        <li *ngIf="showFirstLastButton">
            <a
                [queryParams]="{ size: size, page: totalPages }"
                [routerLink]="routerLinkBase"
                queryParamsHandling="merge"
                class="navlink"
            >
                Last
            </a>
        </li>
    </ul>
</nav>
