<div
    class="flex min-h-[260px] flex-col items-center justify-center gap-4 rounded-xl border-2 border-dashed border-gray-300 bg-gray-50 p-5"
>
    <span class="material-symbols-outlined text-4xl text-gray-400">add_card</span>
    <p class="text-center text-gray-500">{{ title() }}</p>
    <button
            [routerLink]="routePath()"
            hlmBtn variant="ghost"
            class=""
        >
            <span class="material-symbols-outlined text-base">add</span>
            Add Account
        </button>
</div>
