<p-menubar class="bg-transparent ">
  <!-- Left side: button + logo -->
  <ng-template pTemplate="start">
    <!-- Sidebar toggle button -->
    <p-button
      severity="secondary"
      type="icon"
      icon="pi pi-bars"
      class="block md:hidden mx-2"
      (click)="sidenavToggle.emit()"
    />

    <!-- Logo -->
    <svg
      width="31"
      height="33"
      viewBox="0 0 31 33"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.1934 0L0.0391 5.3829L2.3505 25.3417L15.1934 32.427L28.0364 25.3417L30.3478 5.3829L15.1934 0Z"
        fill="var(--p-primary-color)"
      />
    </svg>
  </ng-template>

  <!-- Right side: avatar -->
  <ng-template pTemplate="end">
    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      shape="circle"
    />
  </ng-template>
</p-menubar>
