@let grouped = groupedAccounts();
<div class="flex flex-col gap-10">
    @if (groupedAccounts()) {
        @for (t of accountTypes; track t.key) {
            <section>
                <app-dashboard-account-section-header
                    class="mb-4"
                    [title]="t.title"
                    [accountType]="t.key"
                    [routePath]="t.route"
                    [totalBalance]="grouped[t.key].totalBalance || 0"
                ></app-dashboard-account-section-header>

                <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
                    @if (grouped[t.key].accounts.length) {
                        @for (account of grouped[t.key].accounts; track account.$id) {
                            <app-account-card [account]="account"></app-account-card>
                        }
                    } @else {
                        <app-account-card-placeholder></app-account-card-placeholder>
                    }
                </div>
            </section>
        }
    }
</div>
