<ng-container [ngSwitch]="pageLayoutService.layout$ | async">
    <app-layout-default *ngSwitchCase="PageLayout.Default">
        <router-outlet></router-outlet>
    </app-layout-default>
    <app-layout-centered *ngSwitchCase="PageLayout.Center">
        <router-outlet></router-outlet>
    </app-layout-centered>
    <app-layout-sidebar *ngSwitchCase="PageLayout.Sidebar">
        <router-outlet></router-outlet>
    </app-layout-sidebar>
    <router-outlet *ngSwitchCase="PageLayout.Blank"></router-outlet>
    <app-layout-default *ngSwitchDefault>
        <router-outlet></router-outlet>
    </app-layout-default>
</ng-container>
