@switch (pageLayoutService.layout$ | async) {
    @case (PageLayout.Default) {
        <app-layout-default>
            <router-outlet></router-outlet>
        </app-layout-default>
    }
    @case (PageLayout.Center) {
        <app-layout-centered>
            <router-outlet></router-outlet>
        </app-layout-centered>
    }
    @case (PageLayout.Sidebar) {
        <app-layout-sidebar>
            <router-outlet></router-outlet>
        </app-layout-sidebar>
    }
    @case (PageLayout.Blank) {
        <router-outlet></router-outlet>
    }
    @default {
        <app-layout-default>
            <router-outlet></router-outlet>
        </app-layout-default>
    }
}
