<div class="mb-6 flex items-center justify-center text-2xl font-semibold text-gray-900">
    <img class="mr-2 h-8 w-8" src="./../../../../assets/logoipsum-282.svg" alt="logo" />
</div>

<div class="w-full rounded bg-white shadow sm:w-96 md:mt-0 xl:p-0 dark:border">
    <div class="space-y-2 p-6 sm:p-8 md:space-y-4">
        <h1 class="text-xl leading-tight font-bold tracking-tight text-gray-900 md:text-2xl">
            Create account
        </h1>
        @if (errors) {
            <p class="text-lg font-medium text-sky-600">
                {{ errors }}
            </p>
        }
        <form
            class="space-y-4 md:space-y-6"
            [formGroup]="signUpForm"
            [ngClass]="{ 'pointer-events-none opacity-50': loading === true }"
        >
            <div>
                <label for="firstName" class="mb-2 block text-sm font-medium text-gray-900"
                    >First name</label
                >
                <input
                    formControlName="firstName"
                    class="block w-full rounded border border-gray-300 bg-gray-50 p-2.5 text-gray-900"
                />
                @if (
                    signUpForm.get('firstName')?.hasError('required') &&
                    signUpForm.get('firstName')?.touched &&
                    signUpForm.get('firstName')?.dirty
                ) {
                    <div class="text-xs text-red-500 italic">First name is required.</div>
                }
            </div>
            <div>
                <label for="lastName" class="mb-2 block text-sm font-medium text-gray-900"
                    >Last name</label
                >
                <input
                    formControlName="lastName"
                    class="block w-full rounded border border-gray-300 bg-gray-50 p-2.5 text-gray-900"
                />
                @if (
                    signUpForm.get('lastName')?.hasError('required') &&
                    signUpForm.get('lastName')?.touched &&
                    signUpForm.get('lastName')?.dirty
                ) {
                    <div class="text-xs text-red-500 italic">Last name is required.</div>
                }
            </div>
            <div>
                <label for="email" class="mb-2 block text-sm font-medium text-gray-900"
                    >Email</label
                >
                <input
                    formControlName="email"
                    class="block w-full rounded border border-gray-300 bg-gray-50 p-2.5 text-gray-900"
                />
                @if (
                    signUpForm.get('email')?.hasError('required') &&
                    signUpForm.get('email')?.touched &&
                    signUpForm.get('email')?.dirty
                ) {
                    <div class="text-xs text-red-500 italic">Email is required.</div>
                }
                @if (
                    signUpForm.get('email')?.hasError('email') && signUpForm.get('email')?.touched
                ) {
                    <div class="text-xs text-red-500 italic">Enter a valid email address.</div>
                }
            </div>
            <div>
                <label for="password" class="mb-2 block text-sm font-medium text-gray-900"
                    >Password</label
                >
                <input
                    type="password"
                    formControlName="password"
                    class="block w-full rounded border border-gray-300 bg-gray-50 p-2.5 text-gray-900"
                />
                @if (
                    signUpForm.get('password')?.hasError('required') &&
                    signUpForm.get('password')?.touched &&
                    signUpForm.get('password')?.dirty
                ) {
                    <div class="text-xs text-red-500 italic">Password is required.</div>
                }
                @if (
                    signUpForm.get('password')?.hasError('minLength') &&
                    signUpForm.get('password')?.touched
                ) {
                    <div class="text-xs text-red-500 italic">Password must be 8 characters.</div>
                }
                @if (
                    signUpForm.get('password')?.hasError('maxLength') &&
                    signUpForm.get('password')?.touched
                ) {
                    <div class="text-xs text-red-500 italic">
                        Password can't exceed 32 characters.
                    </div>
                }
            </div>
            <div>
                <label
                    for="passwordConfirmation"
                    class="mb-2 block text-sm font-medium text-gray-900"
                    >Confirm password</label
                >
                <input
                    type="password"
                    formControlName="passwordConfirmation"
                    class="block w-full rounded border border-gray-300 bg-gray-50 p-2.5 text-gray-900"
                />
                @if (
                    signUpForm.get('passwordConfirmation')?.touched &&
                    signUpForm.errors?.['passwordNotMatched'] &&
                    signUpForm.get('password')?.valid
                ) {
                    <div class="text-xs text-red-500 italic">Passwords do not match.</div>
                }
            </div>

            <div class="py-4">
                <button
                    type="submit"
                    (click)="register()"
                    class="w-full rounded bg-sky-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-sky-700 focus:ring-4 focus:ring-sky-300 focus:outline-none dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800"
                >
                    Register
                </button>
            </div>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                Already have an account?
                <a
                    [routerLink]="['/login']"
                    class="font-medium text-sky-600 hover:underline dark:text-sky-500"
                    >Login here</a
                >
            </p>
        </form>
    </div>
</div>
