<main class="container mx-auto">
    <h1 class="text-primary-500 text-3xl font-bold">Home Page Works!</h1>

    <div class="mt-12 space-x-4">
        <button (click)="openSnackbar()" class="btn-outline btn">
            <i class="bx bx-home mr-2"></i>
            Default
        </button>
        <button (click)="openToast()" class="btn-primary btn">Primary</button>
        <button class="btn-secondary btn">Secondary</button>
        <button class="btn-accent btn">Accent</button>
        <button class="btn-ghost btn">Ghost</button>
        <a [routerLink]="['/login']" class="btn-link btn">Login</a>
    </div>

    <div class="mt-12">
        <label for="my-modal-5" class="btn">open modal</label>

        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="my-modal-5" class="modal-toggle" />
        <div class="modal">
            <div class="modal-box w-11/12 max-w-5xl">
                <h3 class="text-lg font-bold">Congratulations random Internet user!</h3>
                <p class="py-4">
                    You've been selected for a chance to get one year of subscription to use Wikipedia for free!
                </p>
                <div class="modal-action">
                    <label for="my-modal-5" class="btn">Yay!</label>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let item of 6 | spreadIntoArray" class="mt-12">
        Distinctio quo eum inventore. Voluptatem saepe ut magni sed est hic molestiae asperiores. Quo esse facilis velit
        rerum quasi natus ducimus in. Blanditiis dolores similique ducimus nihil. Qui similique a provident minus. Nobis
        et et asperiores corporis numquam maxime libero consequatur. Quia nam maiores ut cumque. Suscipit quis ducimus
        ea recusandae repudiandae. Sed pariatur quis fuga. Culpa cumque sit error saepe quidem aut aperiam et. Et qui
        atque perspiciatis dolor. Quia id laudantium assumenda dicta. Nihil aspernatur neque ipsum occaecati est.
        Praesentium perspiciatis eum quae quaerat. Qui illum est officia asperiores vero sed. Inventore in mollitia
        excepturi itaque sapiente. Aliquam quidem molestias sint et placeat officiis magni. Asperiores est nulla
        voluptas nihil eligendi inventore. Cum minima vitae eos perspiciatis pariatur sit accusamus. Minima officiis
        officia qui. Animi quas qui illo totam rerum odit rerum. Aut omnis consequatur quos. Porro provident quo
        ducimus. Vitae inventore omnis dolorum doloremque accusamus aut. Sequi consequatur rerum eveniet optio nobis et.
    </div>
</main>
