<div class="mx-auto max-w-screen-lg px-4 md:px-0">
    <div class="mt-20 space-x-4">
        <button class="rounded-md bg-primary-400 px-6 py-2 shadow-sm hover:bg-primary-300">
            Primary
        </button>
        <button class="rounded-md bg-secondary-400 px-6 py-2 shadow-sm hover:bg-secondary-300">
            Secondary
        </button>
        <button class="rounded-md bg-accent-400 px-6 py-2 shadow-sm hover:bg-accent-300">
            Accent
        </button>
        <button class="rounded-md bg-warn-400 px-6 py-2 shadow-sm hover:bg-warn-300">Warn</button>
        <button class="rounded-md bg-success-400 px-6 py-2 shadow-sm hover:bg-success-300">
            Success
        </button>
    </div>
</div>
