<main class="container mx-auto">
    <h1 class="text-primary-500 text-3xl font-bold">Home Page Works!</h1>

    <div class="mt-12">
        <div hlmAccordion>
            <div hlmAccordionItem>
                <button hlmAccordionTrigger>
                    Is it accessible?
                    <hlm-icon hlmAccIcon />
                </button>
                <brn-accordion-content hlm>Yes. It adheres to the WAI-ARIA design pattern.</brn-accordion-content>
            </div>

            <div hlmAccordionItem>
                <button hlmAccordionTrigger>
                    Is it styled?
                    <hlm-icon hlmAccIcon />
                </button>
                <brn-accordion-content hlm>
                    Yes. It comes with default styles that match the other components' aesthetics.
                </brn-accordion-content>
            </div>

            <div hlmAccordionItem>
                <button hlmAccordionTrigger>
                    Is it animated?
                    <hlm-icon hlmAccIcon />
                </button>
                <brn-accordion-content hlm>
                    Yes. It's animated by default, but you can disable it if you prefer.
                </brn-accordion-content>
            </div>
        </div>
    </div>

    <section class="mt-12">
        <h1 hlmH1 class="${hlmH1}">The Joke Tax Chronicles</h1>
        <button hlmBtn>Button</button>

        <hlm-alert-dialog>
            <button id="edit-profile" variant="outline" brnAlertDialogTrigger hlmBtn>Delete Account</button>
            <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
                <hlm-alert-dialog-header>
                    <h3 hlmAlertDialogTitle>Are you absolutely sure?</h3>
                    <p hlmAlertDialogDescription>
                        This action cannot be undone. This will permanently delete your account and remove your data
                        from our servers.
                    </p>
                </hlm-alert-dialog-header>
                <hlm-alert-dialog-footer>
                    <button hlmAlertDialogCancel (click)="ctx.close()">Cancel</button>
                    <button hlmAlertDialogAction (click)="ctx.close()">Delete account</button>
                </hlm-alert-dialog-footer>
            </hlm-alert-dialog-content>
        </hlm-alert-dialog>
    </section>
</main>
