<div class="my-auto flex flex-col justify-center px-8 pt-8 md:justify-start md:px-24 md:pt-0 lg:px-32">
    <p class="text-center text-3xl">Reset Password</p>

    <form (ngSubmit)="resetPasswordSubmitted()" [formGroup]="form" class="flex flex-col pt-3 md:pt-8">
        <div class="flex flex-col pt-4">
            <div class="relative flex">
                <input
                    type="password"
                    formControlName="password"
                    class="w-full flex-1 appearance-none border border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600"
                    placeholder="New password"
                />
            </div>
        </div>

        <div class="flex flex-col pb-4 pt-4">
            <div class="relative flex">
                <input
                    type="password"
                    formControlName="passwordConfirmation"
                    class="w-full flex-1 appearance-none border border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600"
                    placeholder="Re-enter password"
                />
            </div>
        </div>

        <button
            type="submit"
            class="w-full bg-black px-4 py-2 text-center text-base font-semibold text-white shadow-md transition duration-200 ease-in focus:outline-none focus:ring-2 hover:bg-white hover:text-black"
        >
            Submit
        </button>
    </form>

    <div class="pt-12 text-center text-xs text-gray-400">
        <p>
            Go to
            <a [routerLink]="['/']" class="font-semibold underline"> Home </a>
        </p>
    </div>
</div>
