<div class="container flex flex-wrap items-center px-5 py-24 mx-auto">
    <div
        [formGroup]="loginForm"
        class="flex flex-col w-full p-8 mt-10 bg-gray-200 rounded-lg lg:w-2/6 md:w-1/2 md:ml-auto md:mt-0"
    >
        <h2 class="mb-5 text-lg font-medium text-gray-900 title-font">{{ 'login' }}</h2>
        <div class="relative mb-4">
            <label for="email" class="text-sm leading-7 text-gray-600">{{ 'email' }}</label>
            <input
                type="text"
                id="email"
                name="email"
                formControlName="email"
                class="
                    w-full
                    px-3
                    py-1
                    text-base
                    leading-8
                    text-gray-700
                    transition-colors
                    duration-200
                    ease-in-out
                    bg-white
                    border border-gray-300
                    rounded
                    outline-none
                    focus:border-gray-500
                "
            />
        </div>
        <div class="relative mb-4">
            <label for="password" class="text-sm leading-7 text-gray-600">{{ 'password' }}</label>
            <input
                type="password"
                id="password"
                name="password"
                formControlName="password"
                class="
                    w-full
                    px-3
                    py-1
                    text-base
                    leading-8
                    text-gray-700
                    transition-colors
                    duration-200
                    ease-in-out
                    bg-white
                    border border-gray-300
                    rounded
                    outline-none
                    focus:border-gray-500
                "
            />
        </div>
        <button
            (click)="login()"
            class="px-8 py-2 text-lg text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-600"
        >
            Login
        </button>

        <p class="mt-4 leading-relaxed text-gray-400">
            {{ 'dont-have-an-account' }}
            <a class="text-indigo-500 hover:text-indigo-600" [routerLink]="['/register']">{{ 'register' }}</a>
        </p>
    </div>
</div>
