@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();

@import 'colors';
@import 'theme';

// force material to use theme colors for raised/flat button text color
a,
button {
    &[mat-raised-button],
    &[mat-flat-button] {
        &[color='primary'] {
            color: $primary-contrast !important;
        }

        &[color='accent'] {
            color: $accent-contrast !important;
        }

        &[color='warn'] {
            color: $warn-contrast !important;
        }
    }
}

// default theme
@include mat.all-component-themes($theme);

// conditionally apply theme via a CSS class
.dark-theme {
    @include mat.all-component-colors($dark-theme);
}
